{{#this}}
  <img src="{{flags.svg}}" alt="flags" width="400" height="300" /><p>{{name.official}}</p>
  <p>Capital: {{capital}}</p>
  <p>Population: {{population}}</p>
  <p>Languages: {{languages}}</p>
{{/this}}


<!--<div class='country-card'>-->
<!--  <img class="flag-icon" src="{{this.flags.svg}}" alt="{{this.name.common}}" width="60" height="50">-->
<!--  <h1 class='name'>{{this.name.common}}</h1>-->
<!--  <p class='text'><b>Capital:</b> {{this.capital}}</p>-->
<!--  <p class='text'><b>Population:</b> {{this.population}}</p>-->
<!--  <p class='text'><b>Languages:</b> {{#each languages}}-->
<!--    <span>{{#if @index includeZero=false}}, {{/if}}{{this}}</span>-->
<!--  {{/each}}</p>-->
<!--</div>-->